        #menu {
            position: fixed;
            top: 96px;
            left: 0;
            width: 150px;
            height: 100vh;
            background: #1c1d22;
            display: none;
        }

        #menu ul li a {
            font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
            list-style-type: none;
            visibility: visible;
            box-sizing: border-box;
            text-decoration: none;
            outline: none;
            font-weight: 600;
            position: relative;
            display: block;
            padding: 1.14em 2.5em 1em 1.5em;
            color: #bdbdbd;
            transition: color 0.1s;
        }

        .testul {
            font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
            color: #cecece;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            visibility: visible;
            position: absolute;
            bottom: 0;
            overflow: hidden;
        }

        body.contour {
            font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
            overflow: hidden;
            margin: 0;
            color: #cecece;
            background: #2a2b30;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        header.tete {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 93px;
            text-align: center;
            color: hsl(237, 9%, 60%);
            background: #1c1d22;
        }

        .conteneur {
            overflow-y: hidden;
            overflow-x: hidden;
            height: 100vh;
            overflow: hidden;
            z-index: 100;
        }

        .conteneur img {
            height: 50px;
            padding-top: 10px;
            cursor: pointer;
        }

        .conteneur #banner {
            height: 72px;
            padding-top: 10px;
            cursor: pointer;
        }

        div .profil {
            text-align: right;
            position: absolute;
            right: 0;
            height: 100px;
            margin: 0;
            z-index: 10;
            padding-top: 12px;
            padding-right: 65px;
        }

        .profil li {
            list-style-type: none;
        }

        .profil a {
            text-decoration: none;
            color: #FFFFFF;
        }

        .profil ul {
            text-align: right;
            position: absolute;
            margin-top: 0;
            top: 16px;
            right: 135px;
            white-space: nowrap;
        }

        .flecheMenu {
            transform-origin: 10% 60%;
            transition: all 0.4s ease;
        }

        header .menu img {
            position: absolute;
            left: 0;
            margin-top: 12px;
            margin-left: 65px;
        }

        .ligneverticale {
            border-left: 2px solid white;
            position: absolute;
            left: 148px;
            height: inherit;
        }
        /* Juste a check left et width */

        .contenuouvert {
            top: 90px;
            left: 185px;
            display: block;
            position: relative;
            text-align: justify;
            z-index: -1;
            width: 1680px;
        }

        .contenufermer {
            top: 90px;
            left: 35px;
            display: block;
            position: relative;
            text-align: justify;
            z-index: -1;
            width: 1830px;
        }

        .open-button {
            background-color: #1c1d22;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }
        /* The popup chat - hidden by default */

        .chat-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }
        /* Add styles to the form container */

        .form-container {
            width: 500px;
            padding: 10px;
            background-color: #1c1d22;
        }
        /* Full-width textarea */

        .form-container textarea {
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 200px;
            width: 470px;
        }
        /* When the textarea gets focus, do something */

        .form-container textarea:focus {
            background-color: #ddd;
            outline: none;
        }
        /* Set a style for the submit/send button */

        .form-container .btn {
            background-color: #163a18;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }
        /* Add a red background color to the cancel button */

        .form-container .cancel {
            background-color: #420f0f;
        }
        /* Add some hover effects to buttons */

        .form-container .btn:hover,
        .open-button:hover {
            opacity: 1;
        }
        /*-----------------------Page INSCRIPTION---------------------*/
        /*               * {
            box-sizing: border-box;
        } */

        body.inscription {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #2a2b30;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: -20px 0 50px;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        h1#titreinscription {
            font-weight: bold;
        }

        span {
            font-size: 20px;
        }

        a.btn-co {
            color: #333;
            text-decoration: none;
            font-size: 14px;
            margin: 15px 0;
        }

        .conteneur inscription {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, .5);
            position: relative;
            width: 768px;
            max-width: 100%;
            min-height: 500px;
            position: relative;
        }

        .form-container form {
            background: #fff;
            display: flex;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .social-container {
            margin: 20px 0px;
        }

        .social-container a {
            border: .4px solid rgb(204, 180, 180);
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            width: 40px;
            height: 40px;
        }

        .social-container a:hover {
            background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
            transition: 1s;
        }

        .form-container input {
            background: #eee;
            border: none;
            outline: none;
            border: .4px solid rgb(204, 180, 180);
            border-radius: 10px;
            padding: 12px 15px;
            margin: 10px;
            width: 100%;
        }

        .form-container input:focus {
            border: 1px solid black;
        }

         ::placeholder {
            color: #000;
        }

        button.confirmer {
            background: linear-gradient(90deg, #1d953f 0%, #209542 20.343056921228012%, #4dde76 20.343056921228012%, #4dde76 100%);
            outline: none;
            letter-spacing: 1px;
            /* transition: ; */
            backface-visibility: hidden;
            position: relative;
            cursor: pointer;
            display: inline-block;
            white-space: nowrap;
            border-radius: 5px;
            border: .4px solid rgb(204, 180, 180);
            border-width: 0px 0px 0px 0px;
            padding: 10px 24px 10px 50px;
            color: #ffffff;
            font-size: 16px;
            font-family: arial;
            font-weight: 100;
            font-style: normal
        }

        button.confirmer:active {
            transform: scale(0.95);
        }

        button.confirmer.ghost {
            background: transparent;
            border-color: white;
        }

        div.conteneurinscription {
            margin-left: 540px;
            margin-top: 107px;
        }

        .confirmer>div {
            color: #999999;
            font-size: 10px;
            font-family: Helvetica Neue;
            font-weight: initial;
            font-style: normal;
            text-align: center;
            margin: 0px 0px 0px 0px
        }

        .confirmer>i {
            color: #6ec286;
            font-size: 1em;
            background: #ffffff;
            border-radius: 88px;
            border: 0px solid #6ec286;
            border-width: 0px 0px 0px 0px;
            padding: 4px 4px 4px 4px;
            margin: 0px 010px 0px 0px;
            position: absolute;
            top: 7px;
            left: 3px;
            width: 17px;
            height: 17px
        }

        .confirmer>.ld {
            font-size: initial
        }